body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "content content content"
        "content2 content2 content2"
        "content3 content3 content3"
        "footer footer footer"
        "footer2 footer2 footer2";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.header {
    grid-area: header;
    background-color: #ffff;
    padding: 10px;
    grid-column: 1/6;
    grid-row: 1/2;
    position: fixed;
    width: 100%;
}

.content {
    grid-area: content;
    background-color: whitesmoke;
    padding: 20px;
    grid-column: 1/6;
    grid-row: 2/4;
}
.content2 {
    grid-area: content2;
    background-color: #e1e1e1; /* #e1e1e1 */
    padding: 20px;
    grid-column: 1/6;
    grid-row: 4/6;
}
.content3 {
    grid-area: content3;
    background-color: whitesmoke;
    padding: 20px;
    grid-column: 1/6;
    grid-row: 6/8;
}

.footer {
    grid-area: footer;
    background-color: #1f2a37;
    padding: 10px;
    grid-column: 1/6;
    grid-row: 8/10;
}
.footer2 {
    grid-area: footer2;
    background-color: #444444;
    padding: 10px;
    grid-column: 1/6;
    grid-row: 10/11;
}